<div class='col-md-8'>
<%= form_for :article, url: article_path(@article), method: :put do |f| %>
	<% if @article && @article.errors.any? %> 
   <p>  <ul>
	<% @article.errors.full_messages.each do|msg| %>
	<li><%= msg %></li>
	<% end %> </ul>
	</p>         
  <%end%>
   <p>
   <%= f.label :add_Photo %><br />
   <%= f.file_field :image, :multiple => true %>

   </p>
   <p>
   <%= f.label :title %><br />
   <%= f.text_field :title %>
   </p>
    <p>
 <%= f.label :text %><br />  
 <%= f.text_area :text, rows: 10, cols: 70 %>
   </p>

  <p>
 <%= f.label :original %><br />  
 <%= f.text_field :original, size: 70 %>
   </p>
   <%= f.submit 'Save'%>

<% end %>
</div>

<div class='col-md-4'>.
<% articles = Article.all %>
<% articles.each do |article| %>
        <% if article.image_uid? %>
        <% article1 = article.image.url%>
        <img onclick="hi('article_text','<%=article1%>')" height="30%" width="30%" src='<%= article.image.url %>'>
        <% end %>
<% end %>
</div>