<h1>News</h1>
<div class='col-md-8'>
<%= form_for :article, url: articles_path do |f| %>
	<% if @article && @article.errors.any? %> 
   <p>  <ul>
	<% @article.errors.full_messages.each do|msg| %>
	<li><%= msg %></li>
	<% end %> </ul>
	</p>         
  <%end%>
   <p>
   <%= f.label :add_Photo %><br />
   <%= f.file_field :image %>
   
   </p>
   <p>
   <%= f.label :title %><br />
   <%= f.text_field :title, size: 71 %>
   </p>
    <p>
 <%= f.label :text %><br />  
 <%= f.text_area :text, rows: 10, cols: 70 %>
   </p>

   <p>

 <%= f.label :original %> (УДАЛИ WWW. ИЗ АДРЕСА) <br />  
 <%= f.text_field :original, size: 70 %>
   </p>

   <%= f.submit 'Save'%>

<% end %>
</div>

<div class='col-md-4'>.
<% attachments = Attachment.all %>
<% attachments.each do |attachment| %>
        <% if attachment.image_uid? %>
        <% attachment1 = attachment.image.url%>
        <img onclick="hi('article_text','<%=attachment1%>')" height="30%" width="30%" src='<%= attachment.image.url %>'>
        <% end %>
<% end %>
</div>   



