
<div class='container'>
	
	
	<% if @article.image_uid?  %>
		<img style="max-width:100%;height:auto;" src='<%= @article.image.url %>'>
	<% else %>	
		<img align='top' height="100%" width="100%" src='../netcart.jpg'>
	<% end %>
</div>
<div class='container' style="margin:20px 0 20px;">
	<div class='news-font'>
	
		<h2 style="margin:0 20px;" ><%= @article.title %> </h2>
		<div style="margin:30px 20px;" ><%= @article.text.html_safe %></div>
		   	<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
			<script src="//yastatic.net/share2/share.js"></script>
			<div style="text-align:right;font-size:10pt"> Рассказать всему интернету
			<div class="ya-share2" 
				 data-services="vkontakte,facebook" 
				 data-title="<%= @article.title %>"
				 data-description="<%= @article.text[0,@article.text.index('.').to_i + 1] %>"
				 data-counter="">
				 
			</div>
			</div>

			<% if @article.original?%>
			<div style="text-align: center;">
			<a target="_blank" href="<%= @article.original %>" class="btn btn-default btn-lg active" 
			   role="button">Оригинальная статья взята с сайта <%= @article.original[7,@article.original.index('/',7).to_i - 7].capitalize%></a>
			<% end %>   
</div>
	</div>
</div>
	<% if user_signed_in? %>
		<%= link_to 'prosmotr', article_path(@article) %>
		<%= link_to 'edit', edit_article_path(@article)%>
		<%= link_to 'delete', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
	 <% end%>   
