<div class='col-md-8'>
<%= form_for :attachment, url: attachments_path do |f| %>

   <p>
   <%= f.label :add_Photo %><br />
   <%= f.file_field :image %>
   
 <br />

   <%= f.submit 'Save'%>

<% end %>
</div>
