
 <div class='container'>
 	

 <div class="row" >

 	<% if @main_article.image_stored?%>
		 <div class="col-md-8">
		 	<a href='<%= article_path(@main_article)%>'><img align='left' height="100%" width="100%" 
		 	<% if @main_article.image_uid?  %>
		 		src='<%= @main_article.image.url %>'></a>
		 	<% else %>	
				src='../netcart.jpg'></a>
			<% end %>

		 </div>
		 <div class="col-md-4">	
		 			<p><font size="6">Last news</font></p>	
		 			<% @last_articles.each do |article| %>
		 			<p><%= link_to truncate(article.title, length: 30), article_path(article) %></p>
					<%end%>
		</div>

	<% end %>      

</div>

 <div class="row" >

	<% @small_articles.each do |article|%>
 	
		<div class="col-md-4"> <a href='<%= article_path(article)%>'> <img align='top' vspace='10px' height="200" width="100%" 
		<% if article.image_uid?  %>
			src='<%= article.image.url %>'> 
		<% else %>	
			src='../netcart.jpg'>
		<% end %>
							<h4><%= article.title%></h4>
							<span><font size="2"><%= article.text[0,article.text.index('.').to_i + 1] %></font></span>
		</a></div>
	


<!--	<%= link_to 'prosmotr', article_path(article) %>
	<%= link_to 'edit', edit_article_path(article)%>
	<%= link_to 'delete', article, method: :delete, data: { confirm: 'Are you sure?' } %>
	=========================
	<br />
-->
   
	<% end %>
</div>
</div> </div>
<div class='leaderblock'>
  <div class='container'>
  <div style="color:#c0c0c0;margin:20px 0 0 0;text-align:center;font-size:30pt;">Таблица лидеров</div> 
	<div class="row">
  		<div class="col-xs-6 col-md-4 image_inpost" style="color:#FFC940;font-size:20pt;">1. Mett Wilkinson 
  		<img style="margin:20px 0;" src='http://fast1.onesite.com/capcom-unity.com/user/darkstalkers/dante_avatar.png'> 
 		<div style="font-size:20pt;"> Очки </div> 
 		<div style="font-size:40pt;"> 34000 </div>
 		</div>
	<div class="row">
  		<div class="col-xs-6 col-md-4 image_inpost" style="color:#c0c0c0;font-size:20pt;">1. Mett Wilkinson 
  		<img style="margin:20px 0;" src='http://fast1.onesite.com/capcom-unity.com/user/darkstalkers/dante_avatar.png'> 
 		<div style="font-size:20pt;"> Очки </div> 
 		<div style="font-size:40pt;"> 34000 </div>
 		</div>
	<div class="row">
  		<div class="col-xs-6 col-md-4 image_inpost" style="color:#c0c0c0;font-size:20pt;">1. Mett Wilkinson 
  		<img style="margin:20px 0;" src='http://fast1.onesite.com/capcom-unity.com/user/darkstalkers/dante_avatar.png'> 
 		<div style="font-size:20pt;"> Очки </div> 
 		<div style="font-size:40pt;"> 34000 </div>
 		</div>
	</div>
	</div>
 </div>
</div>


