/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 @import "bootstrap-sprockets";
 @import "bootstrap";
 
  .field_with_errors input {
	border-color: red;
}
   .field_with_errors textarea {
	border-color: red;
}

body { 
padding-top: 70px; 
background-image:url(../back.jpg); 
background-repeat: repeat;
/* Масштабируем картинку с сохранением пропорций 
background-size:cover;
/* Запрещаем фоновому изображению прокручиваться, т.е. делаем его неподвижным */
background-attachment:fixed;
A {
    color: #363636; /* Цвет ссылок */
   }
   A:visited {
    color: #363636; /* Цвет посещенных ссылок */
   }
   A:active {
    color: #363636; /* Цвет активных ссылок */
   }
}

.image_inpost {
	margin: 20px 0;
	text-align:center;
}



a, a:hover{
text-decoration: none;
background: none;
}

.navbar-default {
    background-color: #4671D5;
    color : #E4EDF7;
    border-color: #E7E7E7;
    background-image: -webkit-linear-gradient(top, #4671D5 0%, #4671D5 100%);
  background-image:      -o-linear-gradient(top, #4671D5 0%, #4671D5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4671D5), to(#4671D5));
  background-image:         linear-gradient(to bottom, #4671D5 0%, #4671D5 100%);

.navbar-brand {
	color : #E4EDF7;

}
}
.news-font{
  color: #404040;
  font-family: Roboto Slab;
  font-size: 26px;
  background:rgba(255,255,255,0.88);
  padding-top: 20px;
  margin-bottom: 10px;

}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


.crop{
  float:left;
  margin:.5em 10px .5em 0;
  overflow:hidden; /* this is important */
  border:1px solid #ccc;
  }
  /* input values to crop the image: top, right, bottom, left */
.crop img{
        margin:-41px -156px -40px -30px;
  }

.leaderblock {
  

background-image:url(../leaderblock.jpg); 
background-repeat: repeat;
/* Масштабируем картинку с сохранением пропорций 
background-size:cover;
/* Запрещаем фоновому изображению прокручиваться, т.е. делаем его неподвижным 
background-attachment:fixed;*/
}