
<!DOCTYPE html>
<html>
<head>
  <title>Vslnarusskom</title>                                                              
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>                            
 



</head>
<body >                      

 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container" >

      <a class="navbar-brand" href="/">Home</a>
       <% if user_signed_in? %>
       <a class="navbar-brand" href="/articles/new">New Article</a>
                      <a class="navbar-brand" href="/attachments/new">Add photo</a>
               <div class="navbar-right navbar-brand">
                                                                           
                  
                     
                       <%= current_user.username %>   <%= link_to 'Sign out!', destroy_user_session_path, method: :delete %>  </div>
                   <% else%>       
                   <div class="navbar-right navbar-brand">                                    
                     <%= link_to 'Sign in!', new_user_session_path %> </div>
                    <% end%>   
                 
                 
        </div>



    </div>

  </nav>
	<div style="margin-bottom:20px" class="container">
<%= yield %>
	</div>


 <nav class="navbar navbar-default ">
    <div class="container" >

      <a class="navbar-brand" href="/contact">Контакты</a>
      <a class="navbar-brand" href="/about">О нас</a>
      
     </div>

     <div class="container" >
        <p>(c) F Company 2016.  All rights reserved.</p>
     </div>
 </nav> 
</body>
</html>
